body{
    background-color:cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
div.gallery {
    display: block;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
div.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
footer {
    display: block;
    float: none;
    margin: 10px;
    clear: both;
  }
form{
    background-color:ivory
}